<section class="group">
  <a href="<%= group.yammer_url %>">
    <%= image_tag group.mugshot(128), :class => 'group-mugshot img-polaroid' %>
    <div class="group-container">
        <p><%= group.name %></p>
    </div>
  </a>
</section>